<% include ../partials/header %>


<div class="container">
<header class="jumbotron">
<div class="container">

       
<h1>Welcome to Yelpcamp!</h1>
<p>View all our hand-picked campgrounds from all over the world</p>
<p>  <a class="btn btn-primary btn-large" href="/campgrounds/new"> Add New Camp</a>  </p>

 </div>
</header>
    <div class="row text-center" >
         <% campground.forEach(function(camp){ %>
        <div class="col-md-3 col-sm-6"> 
            <div class="thumbnail-small">    
                <img src="../image/<%= camp.image %>" width="600" height="400">  
                <div class="caption">
                <h4> <%= camp.name %> </h4>
                <p class="pull-left">  
                    <em> Posted By: <%= camp.author.username.toUpperCase() %> </em>
                 </p>
                
                <p><a class="pull-right">Date: <%= camp.date %></a></p>
            </div>
            
            <p><a class="btn btn-primary" href="/campgrounds/<%= camp._id %>">More Info</a></p>
          
            </div>
            
         </div>
         <% }); %>
    </div>
</div>

<p class="btn btn-success">  <a class="btn-success" href="/">Back</a></p>

<% include ../partials/footer %>
 

